	<!-- jQuery -->
	<script src="{{.Site.BaseURL}}js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="{{.Site.BaseURL}}js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="{{.Site.BaseURL}}js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="{{.Site.BaseURL}}js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{.Site.BaseURL}}js/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="{{.Site.BaseURL}}js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="{{.Site.BaseURL}}js/jquery.magnific-popup.min.js"></script>
	<script src="{{.Site.BaseURL}}js/magnific-popup-options.js"></script>	
	<!-- Leaflet -->
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
	integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	crossorigin=""></script>	
	<script src="{{.Site.BaseURL}}js/map.js"></script>

	<script src="{{.Site.BaseURL}}form/form.js"></script>

	<script src="{{.Site.BaseURL}}js/main.js"></script>

	<script>if(document.cookie.indexOf('hidecookie-banner=1') != -1){Query('#cookie-banner').hide();}else{jQuery('#cookie-banner').prependTo('body');jQuery('#cookie-bannerCloser').show();}</script>
	<!-- for default js value input type date -->
	<script type="text/javascript">
		document.getElementById('visitdate').valueAsDate = new Date();
	</script>
	<script type="text/javascript">
		var language = navigator.language || navigator.browserLanguage;
		var htmllang = document.getElementsByTagName('html')[0].getAttribute('lang');      
		if (language == "de" && htmllang != "de"){
			window.location.href = "/de";
		}
	</script>
